<div class="d-flex h-100 text-center text-white bg-dark selector">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">
          <img
            src="../../../assets/logo-red.png"
            id="marvelog-logo"
            alt="Marvelog Logo"
          />
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/register">Cadastre-se</a>
        </nav>
      </div>
    </header>

    <main class="d-flex justify-content-center">
      <div class="px-3 w-50">
        <h1>Bem vindo ao Marvelog!</h1>
        <p class="lead">
          O lugar perfeito para você consultar, organizar e salvar todos os
          dados dos seus quadrinhos e persongens preferidos da Marvel.
        </p>
        <p class="lead">
          <a
            routerLink="/auth/register"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            >Crie já sua conta</a
          >
        </p>
      </div>
    </main>

    <footer class="mt-auto text-white-50">
      <p>
        Criado com amor por
        <a
          target="_blank"
          href="https://github.com/muriiloandrade/"
          class="text-white"
          >Murilo A.</a
        >
        -
        <a
          target="_blank"
          href="https://twitter.com/andrademuriilo"
          class="text-white"
          >@andrademuriilo</a
        >.
      </p>
    </footer>
  </div>
</div>
