<div class="container-fluid">
  <main class="form-signin">
    <form (ngSubmit)="logar()" [formGroup]="loginFormGroup">
      <a routerLink="/home">
        <img
          class="mb-4 w-100"
          src="../assets/logo-font-black.png"
          alt="Logo"
        />
      </a>
      <h1 class="h3 mb-3 fw-normal text-center">Bem vindo de volta!</h1>

      <div class="form-floating">
        <input
          class="form-control login"
          id="floatingInput"
          formControlName="login"
          placeholder="name@example.com"
          [ngClass]="{
            'is-invalid':
              loginFormGroup.get('login')?.errors &&
              loginFormGroup.get('login')?.touched
          }"
        />
        <label for="floatingInput">Usuário ou E-mail</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="floatingPassword"
          placeholder="Password"
          [ngClass]="{
            'is-invalid':
              loginFormGroup.get('password')?.errors &&
              loginFormGroup.get('password')?.touched
          }"
        />
        <label for="floatingPassword">Senha</label>
      </div>
      <button
        class="w-100 btn btn-lg btn-danger"
        [disabled]="!loginFormGroup.valid"
        type="submit"
      >
        Entrar
      </button>
    </form>
    <div class="text-center mt-3 mb-3 text-muted">
      <p class="mb-0">Ainda não tem conta?</p>
      <a class="text-muted" routerLink="/auth/register">Faça a sua agora!</a>
    </div>
  </main>
</div>
