/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import 'variables';

html, body {
  height: 100%;
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url('../assets/fonts/Bebas-Regular.ttf') format("sans serif");
}
