<div class="container pt-4">
  <form (ngSubmit)="handleSubmit()" [formGroup]="searchFG">
    <div class="row mb-3">
      <div class="form-floating col-9 col-sm-10">
        <input
          class="form-control"
          id="floatingInput"
          placeholder="Nome do quadrinho"
          formControlName="titleStartsWith"
          #name
        />
        <label for="floatingInput">&nbsp;&nbsp;Buscar...</label>
      </div>
      <div class="col-3 col-sm-2 d-flex">
        <button class="btn btn-dark col" (click)="searchComics(name.value)">
          <i-bs [name]="icons.Search"></i-bs>
          <span class="d-none d-sm-inline ms-1">Buscar</span>
        </button>
      </div>
    </div>
  </form>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
    <div
      class="col"
      *ngFor="
        let comic of comics
          | paginate
            : {
                id: 'server',
                itemsPerPage: itemsPerPage,
                currentPage: offset,
                totalItems: total
              }
      "
    >
      <div class="card shadow-sm">
        <a [routerLink]="['/quadrinho', comic.id]">
          <img
            [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
            [title]="comic.title"
            class="img-fluid"
          />
        </a>

        <div class="card-body">
          <h5 class="card-title">{{ comic.title }}</h5>
          <ng-container *ngIf="comic.description; else descriptionElse">
            <p class="card-text" [title]="comic.description">
              {{ comic.description.substr(0, 55) + "..." }}
            </p>
          </ng-container>
          <ng-template #descriptionElse>
            <p class="card-text">
              Esse quadrinho ainda não possui uma descrição 😞
            </p>
          </ng-template>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button
                type="button"
                (click)="favoritar(comic.id)"
                class="btn btn-sm btn-outline-danger"
              >
                <i-bs
                  [name]="comic.favorite ? icons.HeartFill : icons.Heart"
                ></i-bs>
              </button>
              <a
                type="button"
                [routerLink]="['/quadrinho', comic.id]"
                class="btn btn-sm btn-outline-secondary"
              >
                <i-bs [name]="icons.Search"></i-bs>
                <span class="d-lg-none d-xl-inline">Detalhes</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 text-center">
    <pagination-controls
      id="server"
      class="my-pagination"
      (pageChange)="paginar($event)"
      (pageBoundsCorrection)="paginar($event)"
      [responsive]="true"
      [autoHide]="true"
      previousLabel="Anterior"
      nextLabel="Próxima"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="Você está em"
    >
    </pagination-controls>
  </div>
</div>
