<div class="pt-4">
  <div class="container">
    <div class="row mb-3">
      <div class="form-floating col">
        <input
          class="form-control"
          id="floatingInput"
          placeholder="Nome do quadrinho"
          [(ngModel)]="searchTerm"
        />
        <label for="floatingInput">&nbsp;&nbsp;Buscar...</label>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <div
        class="col"
        *ngFor="
          let favorite of favorites
            | stringFilter: searchTerm
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: 8,
                  currentPage: page,
                  totalItems: totalItems
                }
        "
      >
        <div class="card shadow-sm">
          <img
            [src]="favorite.comic.str_thumbnail_com"
            [title]="favorite.comic.str_title_com"
          />

          <div class="card-body">
            <h5 class="card-title">{{ favorite.comic.str_title_com }}</h5>
            <ng-container
              *ngIf="favorite.comic.str_details_com; else descriptionElse"
            >
              <p
                class="card-text text-truncate"
                [title]="favorite.comic.str_details_com"
              >
                {{ favorite.comic.str_details_com }}
              </p>
            </ng-container>
            <ng-template #descriptionElse>
              <p class="card-text">
                Esse personagem ainda não possui uma descrição 😞
              </p>
            </ng-template>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  (click)="favoritar(favorite.cod_marvelid_com)"
                  class="btn btn-sm btn-outline-danger"
                >
                  <i-bs
                    [name]="favorite.favorite ? icons.HeartFill : icons.Heart"
                  ></i-bs>
                </button>
                <a
                  type="button"
                  [routerLink]="['/quadrinhos', favorite.cod_marvelid_com]"
                  class="btn btn-sm btn-outline-secondary"
                >
                  <i-bs [name]="icons.Search"></i-bs>
                  Detalhes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-3 text-center">
      <pagination-controls
        id="server"
        (pageChange)="page = $event"
        (pageBoundsCorrection)="page = $event"
        [responsive]="true"
        [autoHide]="true"
        previousLabel="Anterior"
        nextLabel="Próxima"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="Você está em"
      >
      </pagination-controls>
    </div>
  </div>
</div>
